@model IEnumerable<FastQ.Web.Models.Admin.QueueServiceVM>

<table class="table bg-transparent" id="ServiceSection" >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Spanish</th>
            <th>Creole</th>
            <th>Active?</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr id="QSvcrow-@item.Id">
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.NameES)</td>
                    <td>@Html.DisplayFor(model => item.NameCP)</td>
                    <td nowrap class="text-center">                        
                        <span class="@(item.ActiveFlag ? "status-dot" : "inactive-dot")" ></span>                        
                    </td>
                    <td nowrap style="text-align:right;">
                        <button onclick="showInPopup('@Url.Action("EditService", "Queue",new {id=item.Id})','Update Service')" class="btn small btn-sm btn-outline-primary border-0">
                            <i class="bi bi-pencil"></i> Edit
                        </button>
                        <button class="btnDeleteSvc btn small btn-sm btn-outline-danger border-0"
                                data-secname="ServiceSection"
                                data-id="@item.Id"
                                data-action='@Url.Action("DeleteService", "Queue",new {id=item.Id})'>
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

