@model IEnumerable<FastQ.Web.Models.Admin.QueueVM>
@using FastQ.Web.Helpers;
@{
    var authService = new FastQ.Web.Services.AuthService();
    var isadmin = false;
}

    @section Head{
        <link href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css" rel="stylesheet" />
        <link href="~/Content/datatablesFQ.css" rel="stylesheet" />
        <link href="~/Content/queueadmin.css" rel="stylesheet" />
    }
    @section PageHeader {
        <div>
            <div class="topbar-title">Manage Queues</div>
            <div class="topbar-sub">Add and manage Queues and Schedules</div>
        </div>
        <div class="top-actions">
            <div>
            </div>
        </div>
    }

    @{
        // Optional: add a class for styling (e.g., making it red)
        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">
                <strong>Error:</strong> @ViewBag.ErrorMessage
            </div>
        }

        if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success">
                <strong>Success:</strong> @ViewBag.SuccessMessage
            </div>
        }
    }

    <div class="card">
        @*@Html.ActionLink("Create New", "Edit", 0, new { @class = "btn primary" })*@

        <table id="Qdata" class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    @*<th>In Spanish</th>
                        <th>In Creole</th>*@
                    <th>@Html.DisplayNameFor(model => model.ActiveFlag)</th>
                    <th>@Html.DisplayNameFor(model => model.EmpOnly)</th>
                    <th>@Html.DisplayNameFor(model => model.LeadTimeMin)</th>
                    <th>@Html.DisplayNameFor(model => model.LeadTimeMax)</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                            @*@Html.ActionLink(item.Id.ToString(), "Details", new { id = item.Id }, new { @class = "pill" })*@
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="text-center">
                            <span class="@(item.ActiveFlag ? "status-dot" : "inactive-dot")"></span>
                            <span class="is-hidden"> @item.ActiveFlag</span>
                        </td>
                        <td class="text-center"><span class="@(item.EmpOnly ? "status-dot" : "inactive-dot")"></span><span class="is-hidden"> @item.EmpOnly</span></td>
                        <td>@Utilities.ParseTimeInterval(item.LeadTimeMin)</td>
                        <td>@Utilities.ParseTimeInterval(item.LeadTimeMax)</td>
                        <td class="table-actions">
                            @if (authService.isAdminForQueue(item.Id) || authService.IsInRole(Utilities.FQRole.SuperAdmin))
                            {
                                <a href="@Url.Action("Edit", "Queue", new { id = item.Id })" class="btn small ghost btn-action-edit">
                                    <i class="bi bi-pencil "></i> Edit
                                </a> 
                                <a href="@Url.Action("Delete", "Queue", new { id = item.Id })" class="btn small ghost btn-action-delete" 
                                   onclick="return confirm('Are you sure you wish to delete this item?');">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            }
                            else
                            {
                                <div>No access</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    @section Scripts{
        <script src="https://cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>
        <script>
        $(document).ready(function () {
            $('#Qdata').DataTable({
                language: {
                    search: '',
                    searchPlaceholder: "Search by Name or Id"},
                pageLength: 50, // Sets the default to 50 rows
                columnDefs: [
                    { "targets": [6], "orderable": false },
                    { width: 110, targets: 0 },
                    { width: 110, targets: 2 },
                    { width: 110, targets: 3 }
                ],
                fixedColumns: true,
                layout: {
                    topEnd: 'search',
                    topStart: {
                            div: {
                                className: 'action-btn-div'
                            }
                    }
                },
                initComplete: function () {
                    // Use initComplete to insert the actual hyperlink after the table is initialized
                    $('.action-btn-div').wrapInner('@Html.ActionLink("Create New", "Create", 0, new { @class = "btn-add" })');
                }
            });
        });
        </script>
    }
