@model IEnumerable<FastQ.Web.Models.Admin.QueueVM>
@using FastQ.Web.Helpers;

@section Head{
    <link href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/datatablesFQ.css" rel="stylesheet"/>
    }
@section PageHeader {
    <div>
        <div class="topbar-title">Manage Queues</div>
        <div class="topbar-sub">Add and manage Queues and Schedules</div>
    </div>
    <div class="top-actions">
        <div>
            @Html.ActionLink("Create New", "Edit", 0, new { @class = "btn primary" })
        </div>
    </div>
}

@{
    // Optional: add a class for styling (e.g., making it red)
    if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            <strong>Error:</strong> @ViewBag.ErrorMessage
        </div>
    }

    if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">
            <strong>Success:</strong> @ViewBag.SuccessMessage
        </div>
    }
}

<div class="card">
    <table id="Qdata" class="table" style="font-size:0.95em">
        <thead>
            <tr>
                <th style="text-align:center">@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                @*<th>In Spanish</th>
                    <th>In Creole</th>*@
                <th>@Html.DisplayNameFor(model => model.ActiveFlag)</th>
                <th>@Html.DisplayNameFor(model => model.EmpOnly)</th>
                <th>@Html.DisplayNameFor(model => model.LeadTimeMin)</th>
                <th>@Html.DisplayNameFor(model => model.LeadTimeMax)</th>
                <th class="no-sort">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Id)*@
                        @Html.ActionLink(item.Id.ToString(), "Details", new { id = item.Id }, new { @class = "pill" })
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    @*<td>@Html.DisplayFor(modelItem => item.NameES)</td>
                        <td>@Html.DisplayFor(modelItem => item.NameCP)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.ActiveFlag)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmpOnly)</td>
                    <td>@Utilities.ParseTimeInterval(item.LeadTimeMin)</td>
                    <td>@Utilities.ParseTimeInterval(item.LeadTimeMax)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", 
                           new { id = item.Id },
                           new { onclick = "return confirm('Are you sure you wish to delete this item?');" } // htmlAttributes
)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Qdata').DataTable({
                "columnDefs": [
                    { "targets": [6], "orderable": false }
                ],
                layout: {
                    topStart: { pageLength: { text: "_MENU_ per page" } },
                    topEnd: 'search'
                }
            });
        });
    </script>
}
